{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block main_text %}
{{ title }}
{% endblock %}

{% block content %}
<div class="container wrapper flex-grow-1">
    {% if button_value %}
    <div class="container wrapper flex-grow-1 d-flex mb-3 justify-content-start align-items-center">
        <a class="btn btn-primary" href="{{ button_url }}" role="button">{{ button_value }}</a>
    </div>
    {% endif %}

    <table class="table">
        <thead>
            <tr>
                {% for item in tables %}
                <th scope="col">{{ item }}</th>
                {% endfor %}
            </tr>
        </thead>

        <tbody>
            {% for item in obj %}
            <tr>
                <td>{{ item.id }}</td>

                {% if list_name == 'Users' %}
                <td>{{ item.username }}</td>
                <td>{{ item.full_name }}</td>

                {% elif list_name == 'Orders' %}
                <td>{{ item.cost_sum }}</td>
                <td>{{ item.status }}</td>

                {% elif list_name == 'Items' %}
                <td>{{ item.name }}</td>
                <td>{{ item.description }}</td>
                <td>{{ item.cost }}</td>

                {% endif %}

                <td>
                    <a href="{% url url_name_change pk=item.id %}">Изменить</a>
                    <a href="{% url url_name_delete pk=item.id %}">Удалить</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}