{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block main_text %}
{{ title }}
{% endblock %}

{% block content %}
<div class="container wrapper flex-grow-1">
    {% if button_value_create %}
    <div class="container wrapper flex-grow-1 d-flex mb-3 justify-content-start align-items-center">
        <a class="btn btn-primary" href="{% url url_name_create }" role="button">{{ button_value_create }}</a>
    </div>
    {% endif %}

    <table class="table">
        <thead>
            <tr>
                {% for item in tables %}
                <th scope="col">{{ item }}</th>
                {% endfor %}
            </tr>
        </thead>

        <tbody>
            {% for item in obj %}
            <tr>
                <td>{{ item.id }}</td>

                {% if list_name == 'Users' %}
                <td>{{ item.username }}</td>
                <td>{{ item.full_name }}</td>

                {% elif list_name == 'Orders' %}
                <td>{{ item.table_number }}</td>
                <td>
                    {% for item_menu in item.items.all|slice:"2" %}
                    <ol>{{ item_menu.name }}</ol>
                    {% endfor %}{% if item.items.all.count > 2 %} ...
                    {% endif %}
                </td>
                <td>{{ item.total_cost }}</td>
                <td>{{ item.executor }}</td>
                <td>{{ item.get_status_display }}</td>

                {% elif list_name == 'Items' %}
                <td>{{ item.name }}</td>
                <td>{{ item.description }}</td>
                <td>{{ item.cost }}</td>

                {% endif %}

                <td>
                    {% if url_name_detail %}
                    <ol><a href="{% url url_name_detail pk=item.id %}">Просмотреть</a></ol>
                    {% endif %}

                    {% if url_name_update %}
                    <ol><a href="{% url url_name_update pk=item.id %}">Изменить</a></ol>
                    {% endif %}

                    {% if url_name_delete %}
                    <ol><a href="{% url url_name_delete pk=item.id %}">Удалить</a></ol>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}