{% load static %}
{% load django_bootstrap5 %}
{% bootstrap_css %}


<!DOCTYPE html>
<html class="h-100" data-bs-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <style>
        ol {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }
    </style>
    <title>{% block title %}{% endblock %}</title>
</head>

<body class="text-center text-bg-dark">
    <div class="container">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4">
            <div>
                <a href="{% url 'index' %}" class="text-reset"><i class="bi bi-cup-hot-fill"
                        style="font-size: 32px;"></i></a>
            </div>
            <div class="j-flex justify-content-center">
                <ol class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="{% url 'index' %}" class="nav-link px-2 link-secondary">Главная страница</a>
                    </li>
                    <li><a href="{% url 'order_list' %}" class="nav-link px-2">Заказы</a></li>
                    <li><a href="{% url 'item_list' %}" class="nav-link px-2">Меню</a></li>
                    <li><a href="{% url 'status_list' %}" class="nav-link px-2">Статусы</a></li>
                    <li><a href="{% url 'revenue' %}" class="nav-link px-2">Выручка</a></li>
                </ol>
            </div>
            {% if not user.is_authenticated %}
            <div class="text-end">
                <a type="button" class="btn btn-outline-primary me-2" href="{% url 'login' %}">Войти</a>
                <a type="button" class="btn btn-primary" href="{% url 'user_signup' %}">Зарегистрироваться</a>
            </div>
            {% else %}
            <div class="text-end">
                <form method="POST" action="{% url 'logout' %}"> {% csrf_token %} <button type="submit"
                        class="btn btn-outline-primary me-2">Выйти</button>
                </form>
            </div>
            {% endif %}
        </header>
    </div>

    <main class="container mb-auto mt-auto">
        {% if messages %}
        {% for message in messages %}
        <div {% if message.tags %} class="alert {{ message.tags }} alert-dismissible fade show" {% endif %}
            role="alert">{{ message }}
        </div>
        {% endfor %}
        {% endif %}
        <h1 class="my-4">
            {% block main_text %}
            {% endblock %}
        </h1>
        {% block content %}
        {% endblock %}
    </main>
</body>

</html>