{% extends 'base.html' %}
{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="card">
        <h5 class="card-title my-3">{{ obj }}</h5>
        <div class="d-flex">
            <div class="flex-fill p-3 text-white text-center">
                {% if list_name == 'Orders' %}
                <p>Номер столика: {{ obj.table_number }}</p>
                <p>Статус: {{ obj.status }}</p>
                <p>Исполнитель: {{ obj.executor }}
                <p>Итоговая цена: {{ obj.total_cost }}</p>
                {% endif %}
            </div>

            <div class="flex-fill p-3 text-white text-center">
                Заказанное:
                {% for item_obj in obj.items.all %}
                <p>{{ item_obj.name }} - {{item_obj.cost }}</p>
                {% endfor %}
            </div>

        </div>
        <p>
            {% if url_name_update and url_name_delete %}
            <a class="btn btn-primary my-2 mx-1" href="{% url url_name_update pk=obj.id %}" role="button">Изменить</a>
            <a class="btn btn-primary my-2 mx-1" href="{% url url_name_delete pk=obj.id %}" role="button">Удалить</a>
            {% endif %}
        </p>


    </div>
</div>
{% endblock %}